.side-panel {
  position: relative;
  z-index: 10;
  background: hsl(var(--card));
  color: hsl(var(--card-foreground));
  width: 48px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: width 0.2s ease-in-out;
  border-right: 1px solid hsl(var(--border));
  flex-shrink: 0;
}

.side-panel.open {
  width: 400px;
}

.side-panel .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid hsl(var(--border));
  flex-shrink: 0;
}

.side-panel:not(.open) .top {
  justify-content: center;
}

.side-panel .top h2 {
  font-weight: 600;
  font-size: 1.125rem;
  padding-left: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  white-space: nowrap;
  display: none;
}

.side-panel.open .top h2 {
  opacity: 1;
  display: flex;
}

.side-panel .opener {
  color: hsl(var(--muted-foreground));
}

.side-panel:not(.open) .side-panel-container {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in;
}

.side-panel .side-panel-container {
  flex-grow: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
